* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* INDEX.HTML */

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 90px 1fr 90px;
    grid-template-rows: 90px 1fr 90px;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
    ;
}

.header {
    background-color: black;
    grid-area: header;
}

.main {
    background-color: gray;
    grid-area: main;
}

.footer {
    background-color: black;
    color: white;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    color: black;
    display: flex;
    gap: 50px;
    display: flex;
    justify-content: center;
    padding-top: 20px;

}

.container-nav {
    display: flex;
    justify-content: space-between;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 50px;
    gap: 25px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.imglogo {
    display: flex;
    justify-content: flex-start;
    max-height: 95px;
    padding-left: 60px;
    padding-bottom: 5px;
}


#carouselExampleRide {
    max-width: 800px;
    margin: 0 auto;
}

.carousel-item img {
    width: 500px;
    height: 600px;
    object-fit: cover;
}

/* ACA ARRANCA PRODUCTOS */

.container-main {
    display: flex;
    justify-content: row;
}

.form-busqueda {
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    height: 30%;
    flex-direction: column;
    padding: 20px;
    margin: 15px 10px 0 15px;
}

.container-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.form-select {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 20px;
}

.card {
    background-color: transparent;
    border: 0px;
}

.card img {
    width: 613px;
    height: 230px;
    object-fit: cover;
    box-shadow: 5px 5px 5px black;
}

.card div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card .button {
    width: 25%;
}

.card div p {
    margin: 10px 0 10px 0;
}

/* ACA ARRANCA NOSOTROS */

.container-iframe {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.banner-nosotros {
    width: 100%;
    max-height: 20vh;
    height: auto;
    object-fit: cover;
}

.container-img {
    position: relative;
    display: inline-block;
}

.container-text {
    position: absolute;
    width: 720px;
    height: 450px;
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background: rgba(0, 0, 0, 0.5); 
    color: #fff; 
}

.container-text p{
    margin: 0;
    font-size: 22px;
    text-align: center;
    color: #fff; 
}

.prefooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px   
}

.prefooter a{
    font-size: 20px;
    margin-top: 10px;
    padding: 15px;
}


/* ACA ARRANCA CONTACTO */

input {
    background-color: gray;
    color: black;
    border: 2px solid #000;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: black;
    color: gray;
    padding: 10px 20px;
}

.form-contacto {
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
}

.todo-form {
    display: flex;
    justify-content: center;
}

textarea {
    background-color: gray;
    color: black;
    border: 2px solid black;
    resize: none;
}

textarea:focus {
    outline: none;
    border: 2px solid red;
}

.contenedor-button {
    display: flex;
    justify-content: space-around;

}

/* ACA ARRANCA CUENTA */

.todo-form-cuenta {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}

.form-inicio-sesion {
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
}

.form-registrarse {
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
}

.input {
    border: none;
    border-bottom: 2px solid black;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid red;
}


.input::placeholder {
    color: black;
    font-size: 17px;
}

.button {
    border-radius: 10px;
    background-color: black;
    color: gray;
    text-decoration: none;
}
.button:hover {
    background-color: #A0A0A0;
    color: black;
}