@media(max-width:576px) AND (Min-width:300px) {

    /* Navbar */
    .navbar a {
        font-size: 20px;
    }

    /* main index*/

    .h1-main{
        text-align: center;
    }

    /* main productos */

    .h1-productos {
        font-size: 40px;
    }

    .form-busqueda {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
        padding: 10px 10px 280px 10px;

        label {
            margin: 10px 0;
            font-size: 25px;
        }
    }

    .container-form-select {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 10px 0;
    }

    .form-select {
        flex: 1;
        margin: 0 5px;
    }

    .form-button {
        width: 100%;
    }

    .send {
        width: auto;
        padding: 1.1em 1.1em;
        margin-top: 5px;
    }

    .container-productos {
        padding: 0px 10px 0px 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .card div p {
        text-align: center;
        font-size: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .card img {
        width: 340px;
        height: 160px;
        object-fit: cover;
        box-shadow: 5px 5px 5px black;
        margin-left: 20px;
        margin-right: 20px;
    }

    /* main nosotros */

    .h1-nosotros{
        text-align: center;
    }

    .container-iframe {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;
    }

    .container-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 15px;

        img {
            max-width: 100%;
            width: 100%;
            height: 300px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .container-text {
        max-width: 90%;
        margin-top: 15px;
        height: auto;

        p {
            font-size: 12px;
        }
    }

    .map-iframe {
        width: 100%;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .prefooter {
        padding-bottom: 15px;
    }

    /* main contacto */

    .h1-contacto {
        margin-top: 10px;
    }

    .todo-form {
        margin: 20px;
    }

    .input {
        width: 100%;
        margin-bottom: 10px;
    }

    textarea {
        width: 100%;
        margin-bottom: 10px;
    }

    .button-contacto {
        width: 50%;
        margin: 10px;
    }

    .contenedor-button {
        text-align: center;
    }

    /* main cuenta */
    .todo-form-cuenta {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

}