$color-fondo-negro: black;
$color-texto-negro: black;
$color-texto-blanco: white;
$color-gris: grey;
$color-hover: blue;
$texto-grueso: bold;
$background-image-url: '../assets/img/fondo-contacto.jpg';